.ToolbarRow {
    border-bottom: 1px solid #2a2a2a;
    background-color: #1a1a1a;
    flex: 0 0 auto;
    height: var(--toolbar-height);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    transition: height 300ms ease;
    width: 100%;
    display: flex;
    align-items: center;
}

ToolbarRow.expanded {
    height: calc(var(--toolbar-height) + var(--toolbar-drawer-height));
}

